$color-yellow: #FFF692;
$color-red: #D30700;
$color-black: #000;

@mixin align-labels {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

// MEDIA QUERY MANAGER

/* 
0 - 600px:      Phone
600px - 900px:  Tablet portrait
900px - 1200px:  Tablet landscape
[1200px - 1800px] is where our normal styles apply
1800px +:  Big Desktop

*/

// Testing purposes to exemplify how it works
// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

/* 
$breakpoint argument choices: 
- phone 
- tab-port
- tab-land 
- big-desktop

*/

// 1em = 16px

// Order: Base + typography > general layout + grid > page layout > component

@mixin respond($breakpoint) {
  
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600px;
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200px

      @content;
    }
  }

  @if $breakpoint == (med-desktop) {
    @media (max-width: 67.5em) {

      // 1080px
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (max-width: 87.5em) {
      // 1400px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px

      @content;
    }
  }
}


// mixin for messages

@mixin message($status) { 
  @if $status == success {
    color: $color-yellow;
  }

  @if $status == error { 
    color: $color-red;
  }
}