@use '../../abstracts/mixins';

@mixin btn-round {
  // Move these declarations to btn-round class in btn file
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .5rem;
  border-style: none;

  min-width: 25%;
  min-height: 3rem;
  padding: 1rem;

  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #220E7F;
  color: #fff;

 

  &:hover{ 
    // background-color: rgb( 77, 15, 191,.9);
   background-color: rgb(34, 14, 127,.6);
  // background-color: #6E20FF;
  // background-color: #FFF692;
   color:#000;

}

@include mixins.respond(med-desktop){
  height: 1.8rem;
  border-radius: 5px;
  border-style: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

}


@include mixins.respond(tab-port){
  width: 90%;
  height: 1.8rem;
}


}

.btn-round--large {
  width: 50%;
  height: 4rem;
  border-radius: 5px;
  border-style: none;

  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.respond(med-desktop) {
    height: 2.5rem;
    font-size: 1.2rem;
  }

  @include mixins.respond(tab-med){
    width: 20%;
    height: 2.5rem;
    border-radius: 5px;
    border-style: none;
  
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-round--med {
  width: 85%;
  border-style: none;

}

.btn-round--small {
  width: 20%;
  height: 2.5rem;
  border-radius: 5px;
  border-style: none;

  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

}
