@use 'abstracts/mixins';
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: 'Questrial', sans-serif;
  font-weight: bold; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

ul {
  list-style-type: none; }

/* 
0 - 600px:      Phone
600px - 900px:  Tablet portrait
900px - 1200px:  Tablet landscape
[1200px - 1800px] is where our normal styles apply
1800px +:  Big Desktop

*/
/* 
$breakpoint argument choices: 
- phone 
- tab-port
- tab-land 
- big-desktop

*/
.btn-round--large {
  width: 50%;
  height: 4rem;
  border-radius: 5px;
  border-style: none;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 67.5em) {
    .btn-round--large {
      height: 2.5rem;
      font-size: 1.2rem; } }

.btn-round--med {
  width: 85%;
  border-style: none; }

.task__form {
  grid-area: task-form; }

.task__input {
  width: 50%;
  height: 6rem;
  font-size: 2rem; }
  .task__input:focus {
    outline: none; }
  .task__input--message {
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    color: red; }

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: .5rem; }
  .control label, .control input {
    display: block; }
  .control label {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    flex: 1; }
  .control input {
    width: 50%;
    height: 6rem;
    font-size: 2rem; }
    .control input:focus {
      outline: none; }
    .control input p {
      color: white;
      font-size: 1.6rem;
      font-weight: bold;
      color: red; }

.invalid {
  background-color: #F74343; }

.header {
  width: 600px;
  height: 600px;
  border: 2px blue solid;
  background-color: pink;
  text-align: center; }

.header p {
  text-align: center; }

.task__grid {
  grid-area: task-grid;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  grid-template-rows: 7rem 35rem;
  gap: 2rem;
  padding: 1rem 1rem;
  overflow: scroll; }

.task__squares-container {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: [gutter] 4rem repeat(3, minmax(15rem, 20rem)) [gutter] 4rem;
  grid-template-rows: repeat(auto-fit, minmax(8rem, 15rem));
  gap: 3rem;
  padding: 1rem 1rem; }

.loading {
  grid-column: 1/ -1;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 2.2rem; }

.error {
  color: red;
  font-size: 2.2rem;
  grid-column: 1 / -1; }

.status__heading {
  font-size: 1.6rem;
  text-align: center; }
