@import '../abstracts/mixins';
// .form__container {
//   display: flex;
//   flex-direction: column;
// }




.task { 
  &__form { 
    grid-area: task-form;
    margin-bottom: 2rem;
  }

  &__input { 
    width: 50%;
    height: 6rem;
    font-size: 2rem;
    

    &:focus { 
      outline: none;
    }

  
    &--message { 
      color: white;
      font-size: 1.6rem;
      font-weight: bold;
      color: red;
    }

  }
}

.control { 
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: .5rem;

  & label, input { 
      display: block;
  }

  & label { 
  
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  flex: 1;
  }


  & input { 
    width: 50%;
    height: 6rem;
    font-size: 2rem;
    

    &:focus { 
      outline: none;
    }

    @include respond(tab-port){
      font-size: 4rem;
      width: 100%;
    }


    & p { 
      color: white;
      font-size: 1.6rem;
      font-weight: bold;
      color: red;
    }

  }
}





