@import '../../../assets/sass/abstracts/mixins';

.nav--top{
  display: flex;
  width: 100%;
  height: 9rem;
  background-color: #330091;
  color: white;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
  align-items: flex-start;

  &__list{ 
    display:flex;
    justify-content: flex-end;
    width: 90%;
  }

  &__link { 
    font-size: 1.8rem;
    margin-left: 3rem;
    // list-style-type: none;
    text-decoration: none;
    color:white;

  }

  @include respond(tab-land){
    justify-content: center;
  }


}

.logo { 
  font-size: 3rem;
  justify-self: flex-start;
  min-width: 7rem;
}

.active { 
  color: yellow;
  text-decoration: underline;
}
